<section class="banner-bottom-w3layouts py-lg-5 py-md-5 py-3">
    <div class="container">
        <div class="inner-sec-w3ls py-lg-5 py-3">
            <h2 class="title-wthree text-center mb-lg-5 mb-3">About</h2>
            <div class="row">
                <div class="col-lg-6 about-img" data-aos="flip-right">
                    <img class="img-fluid" src="/assets/images/ab.jpg" alt="">
                </div>
                <div class="col-lg-6 about-right mt-lg-4" data-aos="flip-left">
                    <h4 class="sub-tittle">Who We Are</h4>
                    <h3 class="tittle text-uppercase">Our mission is to help simplify the way people plan the most
                        important day of their lives</h3>
                    <p class="my-4">by matching their personal preferences and photographystyle to high
                        quality vendors using technology and our digital platform.
                        Above all, we want to provide a personalized experience when
                        it comes to planning your photography day. We want to help simplify
                        the search process, narrow down your options based on your personal
                        preferences, provide resources and a community that you can seek and
                        share learned experiences..</p>

                </div>
            </div>
            <div class="row mt-lg-5 stats-con">
                <div class="col-sm-3 col-6 stats_info counter_grid" data-aos="fade-up">

                    <i class="far fa-lightbulb"></i>
                    <p class="counter">645</p>
                    <h4>Projects Done</h4>

                </div>
                <div class="col-sm-3 col-6 stats_info counter_grid1" data-aos="fade-up">

                    <i class="far fa-heart"></i>
                    <p class="counter">563</p>
                    <h4>Satisfied Clients</h4>

                </div>
                <div class="col-sm-3 col-6 stats_info counter_grid" data-aos="fade-up">

                    <i class="fas fa-magic"></i>
                    <p class="counter">1145</p>
                    <h4>Awards</h4>

                </div>
                <div class="col-sm-3 col-6 stats_info counter_grid2" data-aos="fade-up">

                    <i class="far fa-smile"></i>
                    <p class="counter">1045</p>
                    <h4>Happy Clients</h4>

                </div>
            </div>
            <p class="my-4" data-aos="fade-up">It started with a simple but profound observation in our own wedding
                planning journey. We saw and witnessed the exhaustion and frustration that couples go through in hopes
                of creating their dream wedding, all while maintaining a budget. “How many more people do I need to
                reach out to before we can book this service and check it off our list?” Going through this same
                stressful experience, we thought, “there must be a simpler way to do this!” .This was the start of lena,
                and we created this platform with the simple goal of making photographyplanning easier (and more fun!).
            </p>

        </div>
        <div class="row">
            <div class="col">
                <h3 class="title-wthree text-center mb-lg-5 mb-3">OUR VISION</h3>
                <p class="my-4" data-aos="fade-up">It started with a simple but profound observation in our own wedding
                    To emerge as a globally respected organization which creates engaging relationships for our client
                    by leveraging cutting edge & innovative digital technologies delivered by a creative & dedicated
                    team.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <br>
                <h3 class="title-wthree text-center mb-lg-5 mt-3"><a routerLink="/login">CLICK HERE TO LOGIN.</a></h3>
            </div>
        </div>
    </div>

</section>
<!--//about-->