<!--/team-->
<section class="team-main text-center py-5 py-3">
    <!------------------ Hover Effect Style : Demo - 16 --------------->
    <div class="container">
        <div class="inner-sec-w3ls py-lg-5 py-3">
            <h2 class="title-wthree text-center mb-lg-5 mb-3">Our Photographers</h2>
            <div class="row mt-lg-5 mt-3">
                <div class="col-md-4 col-sm-6 team-gd" data-aos="zoom-in">
                    <div class="box16">
                        <img src="/assets/images/team1.jpg" alt=" " class="img-fluid">
                        <div class="box-content">
                            <h3 class="title-wthree">Williamson</h3>
                            <span class="post">Photographer</span>
                            <ul class="social social_media_w3layouts text-center">


                                <li><a href="javascript:void(0)" class="find_facebook"><i
                                            class="fab fa-facebook-f"></i></a></li>
                                <li><a href="javascript:void(0)" class="find_twitter"><i class="fab fa-twitter"></i></a>
                                </li>
                                <li><a href="javascript:void(0)" class="find_dribbble"><i
                                            class="fab fa-dribbble"></i></a></li>
                                <li><a href="javascript:void(0)" class="find_rss"><i class="fas fa-rss"></i></a></li>

                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 team-gd" data-aos="zoom-in">
                    <div class="box16">
                        <img src="/assets/images/team2.jpg" alt=" " class="img-fluid">
                        <div class="box-content">
                            <h3 class="title-wthree">Kristiana</h3>
                            <span class="post">Photographer</span>
                            <ul class="social social_media_w3layouts text-center">


                                <li><a href="javascript:void(0)" class="find_facebook"><i
                                            class="fab fa-facebook-f"></i></a></li>
                                <li><a href="javascript:void(0)" class="find_twitter"><i class="fab fa-twitter"></i></a>
                                </li>
                                <li><a href="javascript:void(0)" class="find_dribbble"><i
                                            class="fab fa-dribbble"></i></a></li>
                                <li><a href="javascript:void(0)" class="find_rss"><i class="fas fa-rss"></i></a></li>

                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 team-gd" data-aos="zoom-in">
                    <div class="box16">
                        <img src="/assets/images/team3.jpg" alt=" " class="img-fluid">
                        <div class="box-content">
                            <h3 class="title-wthree"> Ian Brown</h3>
                            <span class="post">Photographer</span>
                            <ul class="social social_media_w3layouts text-center">


                                <li><a href="javascript:void(0)" class="find_facebook"><i
                                            class="fab fa-facebook-f"></i></a></li>
                                <li><a href="javascript:void(0)" class="find_twitter"><i class="fab fa-twitter"></i></a>
                                </li>
                                <li><a href="javascript:void(0)" class="find_dribbble"><i
                                            class="fab fa-dribbble"></i></a></li>
                                <li><a href="javascript:void(0)" class="find_rss"><i class="fas fa-rss"></i></a></li>

                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 mt-lg-4 team-gd" data-aos="zoom-in">
                    <div class="box16">
                        <img src="/assets/images/team4.jpg" alt=" " class="img-fluid">
                        <div class="box-content">
                            <h3 class="title-wthree">Pavi</h3>
                            <span class="post">Photographer</span>
                            <ul class="social social_media_w3layouts text-center">


                                <li><a href="javascript:void(0)" class="find_facebook"><i
                                            class="fab fa-facebook-f"></i></a></li>
                                <li><a href="javascript:void(0)" class="find_twitter"><i class="fab fa-twitter"></i></a>
                                </li>
                                <li><a href="javascript:void(0)" class="find_dribbble"><i
                                            class="fab fa-dribbble"></i></a></li>
                                <li><a href="javascript:void(0)" class="find_rss"><i class="fas fa-rss"></i></a></li>

                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 mt-lg-4 team-gd" data-aos="zoom-in">
                    <div class="box16">
                        <img src="/assets/images/team5.jpg" alt=" " class="img-fluid">
                        <div class="box-content">
                            <h3 class="title-wthree">Leslie Larsen</h3>
                            <span class="post">Photographer</span>
                            <ul class="social social_media_w3layouts text-center">


                                <li><a href="javascript:void(0)" class="find_facebook"><i
                                            class="fab fa-facebook-f"></i></a></li>
                                <li><a href="javascript:void(0)" class="find_twitter"><i class="fab fa-twitter"></i></a>
                                </li>
                                <li><a href="javascript:void(0)" class="find_dribbble"><i
                                            class="fab fa-dribbble"></i></a></li>
                                <li><a href="javascript:void(0)" class="find_rss"><i class="fas fa-rss"></i></a></li>

                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 mt-lg-4 team-gd" data-aos="zoom-in">
                    <div class="box16">
                        <img src="/assets/images/team6.jpg" alt=" " class="img-fluid">
                        <div class="box-content">
                            <h3 class="title-wthree">Natalie Bre</h3>
                            <span class="post">Photographer</span>
                            <ul class="social social_media_w3layouts text-center">


                                <li><a href="javascript:void(0)" class="find_facebook"><i
                                            class="fab fa-facebook-f"></i></a></li>
                                <li><a href="javascript:void(0)" class="find_twitter"><i class="fab fa-twitter"></i></a>
                                </li>
                                <li><a href="javascript:void(0)" class="find_dribbble"><i
                                            class="fab fa-dribbble"></i></a></li>
                                <li><a href="javascript:void(0)" class="find_rss"><i class="fas fa-rss"></i></a></li>

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<h2 class="title-wthree text-center mb-lg-5 mb-3">What are you waiting For ?</h2>
<section class="content-main-w3" id="home">
    <div class="container-fluid gallery-lightbox my-5">

        <div class="row m-0">
            <div class="col-lg-2 col-md-2 col-sm-3 p-0 snap-img">
                <div class="gallery_grid1 hover08" data-aos="fade-up">
                    <div class="gallery_effect">
                        <a href="/assets/images/1.jpg" data-lightbox="example-set"
                            data-title-wthree="Lorem Ipsum is simply dummy the when an unknown galley of type and scrambled it to make a type specimen.">
                            <figure> <img src="/assets/images/1.jpg" alt=" " class="img-fluid"> </figure>
                        </a>
                    </div>
                </div>
                <div class="gallery_grid1 hover08" data-aos="fade-up">
                    <div class="gallery_effect">
                        <a href="/assets/images/16.jpg" data-lightbox="example-set"
                            data-title-wthree="Lorem Ipsum is simply dummy the when an unknown galley of type and scrambled it to make a type specimen.">
                            <figure> <img src="/assets/images/16.jpg" alt=" " class="img-fluid"> </figure>
                        </a>
                    </div>
                </div>

            </div>
            <div class="col-lg-2 col-md-2 col-sm-3 p-0 snap-img">
                <div class="gallery_grid1 hover08" data-aos="fade-up">
                    <div class="gallery_effect">
                        <a href="/assets/images/3.jpg" data-lightbox="example-set"
                            data-title-wthree="Lorem Ipsum is simply dummy the when an unknown galley of type and scrambled it to make a type specimen.">
                            <figure> <img src="/assets/images/3.jpg" alt=" " class="img-fluid"> </figure>
                        </a>
                    </div>
                </div>

            </div>
            <div class="col-lg-2 col-md-2 col-sm-3 p-0 snap-img">
                <div class="gallery_grid1 hover08">

                    <div class="gallery_effect" data-aos="fade-up">
                        <a href="/assets/images/9.jpg" data-lightbox="example-set"
                            data-title-wthree="Lorem Ipsum is simply dummy the when an unknown galley of type and scrambled it to make a type specimen.">
                            <figure> <img src="/assets/images/9.jpg" alt=" " class="img-fluid"> </figure>
                        </a>
                    </div>
                </div>

            </div>
            <div class="col-lg-2 col-md-2 col-sm-3 p-0 snap-img">
                <div class="gallery_grid1 hover08" data-aos="fade-up">
                    <div class="gallery_effect">
                        <a href="/assets/images/6.jpg" data-lightbox="example-set"
                            data-title-wthree="Lorem Ipsum is simply dummy the when an unknown galley of type and scrambled it to make a type specimen.">
                            <figure> <img src="/assets/images/6.jpg" alt=" " class="img-fluid"> </figure>
                        </a>
                    </div>
                </div>
                <div class="gallery_grid1 hover08">
                    <div class="gallery_effect" data-aos="fade-up">
                        <a href="/assets/images/7.jpg" data-lightbox="example-set"
                            data-title-wthree="Lorem Ipsum is simply dummy the when an unknown galley of type and scrambled it to make a type specimen.">
                            <figure> <img src="/assets/images/7.jpg" alt=" " class="img-fluid"> </figure>
                        </a>
                    </div>

                </div>

            </div>
            <div class="col-lg-2 col-md-2 p-0 snap-img">
                <div class="gallery_grid1 hover08">
                    <div class="gallery_effect" data-aos="fade-up">
                        <a href="/assets/images/10.jpg" data-lightbox="example-set"
                            data-title-wthree="Lorem Ipsum is simply dummy the when an unknown galley of type and scrambled it to make a type specimen.">
                            <figure> <img src="/assets/images/10.jpg" alt=" " class="img-fluid"> </figure>
                        </a>
                    </div>

                </div>
            </div>


            <div class="col-lg-2 col-md-2 p-0 snap-img">
                <div class="gallery_grid1 hover08">
                    <div class="gallery_effect" data-aos="fade-up">
                        <a href="/assets/images/13.jpg" data-lightbox="example-set"
                            data-title-wthree="Lorem Ipsum is simply dummy the when an unknown galley of type and scrambled it to make a type specimen.">
                            <figure> <img src="/assets/images/13.jpg" alt=" " class="img-fluid"> </figure>
                        </a>
                    </div>
                </div>
                <div class="gallery_grid1 hover08">
                    <div class="gallery_effect" data-aos="fade-up">
                        <a href="/assets/images/14.jpg" data-lightbox="example-set"
                            data-title-wthree="Lorem Ipsum is simply dummy the when an unknown galley of type and scrambled it to make a type specimen.">
                            <figure> <img src="/assets/images/14.jpg" alt=" " class="img-fluid"> </figure>
                        </a>
                    </div>

                </div>

            </div>


        </div>

    </div>

</section>